@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


h1 {
  font-family: 'Tilt Neon', cursive;
}

body {
  background-image: url("./page-assets/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}